name: NodeJS with Gulp

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.5.1
      with:
        # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
        node-version: 18.x # optional
        # Set this option if you want the action to check for the latest available version that satisfies the version spec.
        check-latest: true # optional
        # Used to specify the path to a dependency file: package-lock.json, yarn.lock, etc. Supports wildcards or a list of file names for caching multiple dependencies.
        cache-dependency-path: package-lock.json # optional

    - name: Build
      run: |
        npm install
        npm run build
        
    - name: Commit
      uses: swinton/commit@v2.0.0
      with:
        # Commit message to be used
        commit-message: Built updated files      
